<h1>A list of teams at {{ matchTeams[0].match}}</h1>
This page uses advance web technologie only the latest and greatest browser are supported
<h3>Teams:</h3>
<md-card>
    <md-tab-group (selectChange)="changeLocation($event)">
        <md-tab label="splash1">
            <teamSimpelteam [teams]=matchTeams[0].teams [location]=1> </teamSimpelteam>
        </md-tab>
        <md-tab label="splash2">
            <teamSimpelteam [teams]=matchTeams[1].teams [location]=2> </teamSimpelteam>
        </md-tab>
        <md-tab label="splash3">
            <teamSimpelteam [teams]=matchTeams[2].teams [location]=3> </teamSimpelteam>
        </md-tab>
        <md-tab label="splash4">
            <teamSimpelteam [teams]=matchTeams[3].teams [location]=4> </teamSimpelteam>
        </md-tab>
        <md-tab label="Finish">
            <teamSimpelteam [teams]=matchTeams[4].teams [location]=5> </teamSimpelteam>
        </md-tab>
    </md-tab-group>
</md-card>

<!--<p class="error" *ngIf="errorMessage">{{errorMessage}}</p> -->